body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.btn_logout {
  float: right;
  cursor: pointer;
}

.user_dtl {
  float: left;
  pointer-events: none;
}

.nav-blue {
  /* position: absolute; */
  width: 100%;
  height: 78px;
  left: 0px;
  top: 0px;

  background: linear-gradient(90.21deg, #053ED1 0%, #0F4EAC 100%);
}

.title {
  font-size: 27px;
    color: #053ED1;
    margin: 7vh;
    height: 25px;
}

.dp {
      /* position: absolute; */
      width: 40px;
      height: 40px;
      left: 235px;
      top: 203px;
      /* background: url(.jpg); */
      border: 1px solid #FF0000;
      box-sizing: border-box;
      border-radius: 50%;
}

.inline_p {
  display: inline;
}

.clickable_item {
  cursor: pointer;
}

.contact_th > td {
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 0.08em;
    color: #B0C6FF;
}

.sub_txt{
  display: inline;
  font-size: 17px;
}

.m_t_25 {
  margin-top: 25vh !important;
}

.test {
  width: 350px;
  height: 65px;
}

.login_header {
  font-size: 20px;
  text-align: center
}

.toast-ms {
  display: none
}

/* to show some table items on hover only */
/* .hover_view {
  display: none;
}

tr:hover> .hover_view {
  display: block 
} */